
*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
}

.image {
  display: inline-block;
  width: 340px;
  height: 250px;
  background: #efefef;
  vertical-align: top;
  border: 2px solid #cdcdcd;
  margin: 0;
  cursor: pointer;
}

.placeholder, .image.zoom {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  width: 780px;
  height: 500px;
  background: #cdcdcd
}

.image.zoom {
  position: absolute;
}
